body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color: #fff;
    max-width: 800px;
    margin: 0 auto;
    /* background-color: maroon; */
    background-color: white;
}

h1 {
    color: #ec3750;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

img {
    border: 5px solid black;
    border-radius: 10px;
    
}